@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ms-tag-bg: hsl(var(--a));
  --ms-font-size: 1.2rem;
  --ms-line-height: 1.5;
  --ms-radius: 6px;
  --ms-max-height: 15rem;
  --ms-option-font-size: 1.2rem;
  --ms-option-line-height: 1.5;
  --ms-option-bg-pointed: hsl(var(--s));
  --ms-option-bg-selected: hsl(var(--p));
  --ms-option-bg-selected-pointed: hsl(var(--pf));
}
